﻿@model IEnumerable<AkaLibraryMVC.Models.Library>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "List", new { controller = "LibraryBook", id = item.LibraryId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.LibraryId })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Return Books", "ReturnBooks")