﻿@model AkaLibraryMVC.Models.LibraryBook

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LibraryBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookTitle.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTitle.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Library.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Library.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPurchasedByLibrary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPurchasedByLibrary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "List", new { id = Model.LibraryId })
</p>
