﻿@model AkaLibraryMVC.Models.BookSignedOut
@{
    ViewBag.Title = "Sign Out Book";
    var errors = (ViewBag.Errors != null) ? (List<string>)ViewBag.Errors : new List<string>();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Html.DisplayFor(model => model.LibraryBook.BookTitle.Title)</h4>
    <hr />
    
    @{
        if (errors.Any())
        {
            <ul style="background-color: red;">
                @foreach (var error in errors)
                {
                    <li>@error</li>
                }
            </ul>
        }
    }

    @using (Html.BeginForm("PostSignOutBook", "LibraryBook", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.LibraryBookSId)

        <div class="row">
            <div class="col-xs-2 text-right">
                @Html.LabelFor(model => model.MemberId)
            </div>
            <div class="col-xs-10">
                @Html.TextBoxFor(model => model.MemberId)
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-10">
                <input type="submit" value="Submit" />
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("Back to List", "List", new { id = Model.LibraryBook.LibraryId })
    </p>
</div>